.footer{
    width: 100%;
}
.section9{
    max-width: 1920px;
    min-height: 540px;
    margin: 0 auto;
}
.section9__img{
    height: 540px;
    background-image: url('../img/map.svg');
    background-repeat: no-repeat;
}
.onmap{
    margin-left: 19%;
    background: white;
    width: 410px;
    height: 540px;
    align-items: center;
    display: flex;
}
.textmap{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 365px;
    font-family: 'Montserrat';
}
.section10{
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
}
.footer__fon{
    height: 970px;
    background-image: url('../img/footer_fon.png');
    background-repeat: no-repeat;
}
.map__adresses {
    list-style: none;
    font-family: 'Montserrat';
}
.map__adresses li:before {
    content: ">";
    top: 0;
    font-weight: bold;
    position: absolute;
    left: -30px;
}
  .map__adresses li {
    font-weight: 400;
    font-size: 16px;
    line-height: 168.4%;
    position: relative;
}
.flex__Questions {
    height: 600px;
    display: flex;
    align-items: center;
    padding: 170px;
    margin-bottom: 1rem;
}
.pasta__Questions {
    display: flex;
    flex-direction: column;
    height: 970px;
    background-image: url('../img/footer_fon.png');
    background-repeat: no-repeat;
}
.container__contactUs {
    width: 40.5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container__contactUs p:first-child {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 121.9%;
    text-transform: uppercase;
}
.container__contactUs p:nth-child(2) {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 155.4%;
}
input::placeholder {
    color: #dbdbdb;
}
.form-control {
    background-color: transparent;
    outline: 0;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white;
    color: white;
}
.form-control::placeholder {
    color: white;
}
.form-control:focus {
    background-color: transparent;
    color: white;
    box-shadow: none;
}
.floating-label-group {
    position: relative;
    margin-top: 35px;
    margin-bottom: 45px;
    width: 60%;
}
.floating-label-group .floating-label {
    font-size: 13px;
    color: transparent;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 12px;
    transition: ease-in 120ms;
}
.floating-label-group input:focus ~ .floating-label,
.floating-label-group input:not(:focus):valid ~ .floating-label {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    opacity: 1;
    color: white;
}
.floating-label-group :focus::placeholder {
    color: transparent;
}
  .contactUs__button {
    height: 46px;
    width: 136px;
    background-color: #D38B13;
    border: none;
    color: white;
}
@media (min-width: 1024px) {
    .pasta__Questions {
      height: 966px;
    }
    .flex__Questions {
      height: 697px;
    }
}