.menu__link{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: black;
    padding: 10px;
    border-radius: 10px 20px;
    transition: 0.5s background-color ease-in-out,
                0.1s box-shadow ease-in-out,
                0.5s transform ease-in-out;
}
.logo{
    width: 199px;
    height: 30px;
}
.menu__link:hover,
.menu__link:focus{
    background-color: #EEDEBF;
    box-shadow: 1px 5px 8px 0.1px #e5cc99;
    transition: 1s background-color ease-in-out,
                0.1s box-shadow ease-in-out,
                0.5s transform ease-in-out;
    padding: 10px;
    

    
}
.phone{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
.phone:hover{
    transition: 0.5s all;
    color:#D38B13;
}
.icon_tlf{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    padding-top: 1px;
}
.call{
    color: #1F1F1F;
    display: block;
    margin-left: 55px;
    font-size: 12px;  
    transition: 0.2s color ease-in-out;

}
.call:hover,
.call:focus{
    transition: 0.5s all;
    color: #D38B13;
    text-decoration: underline dashed #D38B13;
    transition: 0.2s color ease-in-out,
                1s text ease-in-out;
    max-width: 82px;
}

